.CardSheetContainer {
  margin-left: 25%;
  width: 50%;
  border: solid 1px black;
  border-radius: 8px;
  box-shadow: 10px 10px 5px lightblue;
  padding-bottom: 10px;
  margin-bottom: 10px;
  .cardContainer {
    margin-left: 5px !important;
  }
  .cancelButton {
    width: 30%;
    margin-left: 35%;
    margin-top: 5px;
  }
}
.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;

  justify-content: center;
  align-items: center;

  .userContainer {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: center;

    span {
      margin-right: 10px;
      width: 5%;
      padding: 0;
    }
    p {
      padding: 0;
      width: 80%;
    }
  }
  .MinContainer {
    display: flex;
    width: 40%;
    justify-content: space-between;
    span {
      margin-right: 10px;
    }
    label {
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
    p {
      color: black;
      padding: 0;
      margin: 0;
      font-size: 18px;

      text-align: end;
    }
  }
  .imgContainer {
    margin-top: 15px;
    margin-bottom: 5px;
    flex-wrap: wrap;
    display: flex;
  }
}
.ButtonContainer {
  width: 40%;
  margin-top: 15px;
  margin-left: 45%;
}
